html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  height: 240px;
}

.robot {
  width: 320px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 136px;
  top: 10%;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-left {
  position: absolute;
  left: 35px;
  top: -37.95px;
}

.robot-head-right {
  position: absolute;
  right: 35px;
  top: -38px;
}

.robot:hover .robot-head-left {
  top: -30px;
  left: -10px;
}

.robot:hover .robot-head-right {
  top: -30px;
  right: -10px;
}

.robot:hover .robot-brain {
  top: 0;
  left: 138px;
}
